body{
    background-color: darkgrey;
}
.main{
    width: 413px;
    height: 500px;
    border: 2px solid;
    border-radius: 10px;
    margin: auto;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    display: flex;
    margin: auto;
    width: 390px;
    height: 22px;
    border-radius: 3px;
}
button{
    display: flex;
    width: 40px;
    height: 30px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
}


.first{
    width: 400px;
    height: 100px;
    border: 2px solid;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(125, 190, 190);
    margin-top: 10px;
}

.second{
    width: 400px;
    height: 100px;
    border: 2px solid;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(72, 119, 92);
    margin-top: 10px;
}

.third{
    width: 400px;
    height: 100px;
    border: 2px solid;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(50, 50, 93);
    margin-top: 10px;
}
