*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/baground.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box{
    width: 1310px;
    height: 710px;
    border: 2px solid;
    margin-left: 80px;
    margin-top: 60px;
    border-radius: 25px;
}

.main li{
    display: inline;
    color: white;
}
.main h1{
    padding-top: 20px;
    padding-left: 45px;
    color: white;
}

ul{
    position: relative;
    top: -25px;
    left: 850px;
}
li{
    padding: 15px;
}
a{
    text-decoration: none;
    color: white;
}

.image img{
    width: 350px;
    height:350px;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 983px;
}

.about {
    padding-top: 200px;
}
.about h1{
    color: white;
    font-size: 60px;
    padding-left: 45px;
}
.about h2{
    color: white;
    font-size: 40px;
    padding-left: 45px;
}
.about h2 span{
    font-size: 25px;
}
.about p{
    padding-top: 15px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 45px;
}

.footer button{
    width: 130px;
    height: 40px;
    border-radius: 40px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 35px;
    left: 40px;
    cursor: pointer;
}
.footer .images .fa-square-x-twitter{
    font-size: 45px;
}
.footer .images .fa-linkedin{
    font-size: 45px;
}
.footer .images .fa-square-github{
    font-size: 45px;
}
.footer .images .fa-square-youtube{
    font-size: 45px;
}

.footer .images{
    position: absolute;
    top: 570px;
    left: 270px;
}